S3method(summary, ExtDep_Bayes)
S3method(plot, ExtDep_Bayes)

S3method(plot, ExtDep_Freq)
S3method(logLik, ExtDep_Freq)
S3method(logLik, ExtDep_Spat)

S3method(summary, ExtDep_npBayes)
S3method(plot, ExtDep_npBayes)
S3method(plot, ExtDep_npFreq)
S3method(plot, ExtDep_npEmp)


export(angular, angular.plot, beed.boot, beed.confband, beed,
	desn, pesn, dest, pest, dmesn, pmesn, dmest, pmest, 
	dim_ExtDep, dExtDep, pExtDep, rExtDep, lambda.HR,
	fExtDep, fExtDep.np, pFailure, pickands.plot, trans2UFrechet, trans2GEV, 
	dGEV, pGEV, qGEV, fGEV, 
	madogram, rExtDepSpat, fExtDepSpat, est, StdErr, model, method, bic, tic, 
	index.ExtDep,
	diagnostics, returns, returns.plot, ExtQ, ellipse, simplex, PAMfmado)


useDynLib(ExtremalDep, .registration = TRUE)


importFrom("sn", "qsn", "rmst")
importFrom("grDevices", "heat.colors", "gray", "adjustcolor", "colorRampPalette")
importFrom("graphics", "contour", "image", "lines", "points", "abline",
           "polygon", "segments", "text", "curve", "hist", "mtext", "par", 
	   	   "plot", "axis", "legend")
importFrom("stats", "df", "qf", "dnorm", "dt", "ecdf", "integrate", "optim",
           "pnorm", "pt", "quantile", "rnorm", "runif", "dunif", "uniroot",
           "var", "rpois", "dpois", "rbeta", "dbeta", "dnbinom", "pexp", 
	   "qchisq", "pbeta", "qnorm", "cov", "rnbinom",  "approxfun", "dist", 
	   "na.omit", "rexp", "density")
importFrom("evd", "rbvevd", "abvnonpar", "amvnonpar", "pfrechet", "pgumbel", 
	   "pgev", "abvevd", "hbvevd")
importFrom("numDeriv", "jacobian", "hessian")
importFrom("quadprog", "solve.QP")
importFrom("copula", "An", "An.biv")
importFrom("gtools", "permutations")
importFrom("nloptr", "nloptr")
importFrom("utils", "setTxtProgressBar", "txtProgressBar", "tail", "combn", "head")
importFrom("mvtnorm", "rmvnorm", "rmvt")
importFrom("fda", "fbplot")
importFrom("parallel", "makeCluster", "stopCluster")
importFrom("doParallel", "registerDoParallel")
importFrom("foreach", "foreach", "%dopar%")
importFrom("cluster", "pam")
importFrom("methods", "hasArg")